@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=Lato:wght@400;700&family=Montserrat:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

nav {
  padding: 12px;
  height: 80px;
  margin-bottom: 86px;
}

h1 {
  font-size: 44px;
  font-weight: 700;
  line-height: 1.25;
  color: rgb(26 32 44);
}

ul {
  list-style: none;
}

.purple-text {
  color: #6415ff;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/*Slide in animation */

/* Define initial states for sliding animation */
.animate-section {
  opacity: 0;
  position: relative;
}

/* Slide in from the left */
.slide-in-left {
  animation: slideInLeft 1s forwards;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    left: -100%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

/* Slide in from the right */
.slide-in-right {
  animation: slideInRight 1s forwards;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    left: 100%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

/* NAVIGATION */

.container__nav {
  margin: 16px;
}

.nav__logo--wrapper {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  color: #243e63;
  font-size: 14px;
  margin: 0 24px;
  padding: 0 0 4px;
  font-weight: 600;
  position: relative;
}

.nav__link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  border-bottom: 2px solid #6415ff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.nav__link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.nav__link--login {
  margin: 0 0 0 48px;
}

.nav__link--primary {
  text-decoration: none;
  color: #243e63;
  font-size: 14px;
  margin: 0 24px;
  padding: 0 0 4px;
  font-weight: 600;
  position: relative;
  background-color: #6415ff;
  color: white;
  padding: 12px 36px;
  border-radius: 24px;
  transition: all 300ms ease;
}

.nav__link--primary:hover {
  background-color: #4a0ebe;
}

.logo__heading {
  color: #243e63;
  font-weight: 900;
}

.btn__menu {
  background-color: transparent;
  font-size: 24px;
  text-align: center;
  border: none;
  color: #7342d6;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: #6415ff;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 24px;
}

.menu__link {
  font-size: 18px;
  color: #1a202c;
  text-decoration: none;
  font-weight: 600;
}

.btn {
  background-color: #6415ff;
  color: #f7fafc;
  border-radius: 50px;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  transition: all 300ms ease;
  margin-left: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #4a0ebe;
}

.no-cursor {
  cursor: not-allowed;
}

/* HEADER */

header {
  height: calc(100vh - 80px);
}

.header__container {
  padding: 24px;
  margin: 48px 0;
}

.header__des {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 46px;
}

.header__img {
  width: 60%;
  margin-left: 50px;
}

.header__des--para {
  margin: 32px 0;
  color: #243e63;
  font-size: 18px;
}

.header__des--img {
  opacity: 0.5;
  margin-top: 1px;
}

/* -----EMAIL FORM----- */

.header__des--form {
  display: flex;
  border: 2px solid rgb(226, 232, 240);
  border-radius: 50px;
  padding: 6px;
  font-weight: 500;
  transition: all 300ms ease;
}

.header__des--form:hover {
  border: 2px solid #a0aec0;
}

.header__des--form:active,
.header__des--form:focus-within {
  border: 2px solid #6415ff;
}

.des__placeholder {
  flex: 1;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  padding: 10px;
  margin: 0;
  opacity: 0.5;
  outline: none;
  color: rgb(226, 232, 240);
}

.des__placeholder:active,
.des__placeholder:focus-within {
  color: #243e63;
}

.header__des__sub-title {
  font-size: 12px;
  color: #a0aec0;
  margin: 56px 0 16px 0;
  font-weight: 700;
}

/* FEATURES */

.row__features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 168px;
}

.section__span {
  color: #6415ff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 24px;
}

.section__title {
  color: #243e63;
  font-size: 48px;
  margin-bottom: 16px;
  font-weight: 900;
}

.features__sub-title {
  color: #7c8ba1;
  font-size: 16px;
  margin: 0px 0 24px 0;
  text-align: center;
  max-width: 500px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 64px 0;
}

.features__item {
  width: calc(100% / 3);
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.features__item--title {
  font-size: 24px;
  color: #243e63;
  font-weight: 700;
}

.features__item--img {
  width: 64px;
  height: 64px;
  color: #6415ff;
  border: 1px solid #a0aec0;
  border-radius: 50%;
  margin-right: 16px;
  display: grid;
  place-items: center;
}

.features__item--para {
  color: #7c8ba1;
  font-size: 16px;
  max-width: 200px;
  line-height: 2;
  margin: 16px 0;
}

/* QUALITY */

#quality {
  margin-bottom: 168px;
}

.quality__info {
  width: 45%;
}

.quality__img--wrapper {
  width: 50%;
  border: 1px solid #7c8ba1;
  display: flex;
  flex-direction: column;
}

.quality__para {
  color: #7c8ba1;
  font-size: 16px;
  max-width: 500px;
  line-height: 2;
  margin: 32px 0;
}

.quality__title {
  margin-top: 24px;
  font-weight: 900;
}

/* STEPS */

#steps {
  margin-bottom: 168px;
}

.steps__info {
  width: 45%;
}

.steps__img--wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 68px;
}

.steps__para {
  color: #7c8ba1;
  font-size: 16px;
  max-width: 500px;
  line-height: 2;
  margin: 12px 0;
}

.steps__title {
  margin-top: 24px;
  font-weight: 900;
}

.steps__list {
  display: flex;
  flex-direction: column;
}

.step__item {
  display: flex;
}

h6 {
  font-size: 20px;
  color: #243e63;
}

.steps__para {
  color: #718096;
  font-size: 14px;
  font-weight: 500px;
  max-width: 300px;
}

.step__number {
  font-size: 36px;
  color: #cbd5e0;
  margin-right: 18px;
}

/* VALUES */

#values {
  margin-bottom: 168px;
}

.values__list {
  display: flex;
  margin-bottom: 24px;
}

.value__title {
  margin-top: 16px;
  font-weight: 900;
}

.value__item--title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}


.values__img--wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 68px;
}

.values__para {
  color: #7c8ba1;
  font-size: 16px;
  max-width: 500px;
  line-height: 2;
  margin: 16px 0;
}

.item__icon--aff {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: #9ae6bf;
  color: #346b4f;
  padding: 8px;
}

.item__icon--pro {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: #feb2b2;
  color: #973737;
  padding: 8px;
}

.item__text {
  color: #243e63;
  font-size: 20px;
  margin: 0 0 0 12px;
  font-weight: 700;
}

.value__item--para {
  color: #718096;
  font-size: 16px;
  margin-right: 24px;
}

/* PRICING */

.row__pricing {
  display: flex;
  flex-direction: column;

  margin-bottom: 168px;
}

.pricing_text--top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__para {
  color: #7c8ba1;
  font-size: 18px;
  max-width: 600px;
  line-height: 2;
  margin: 12px 0 12px 0;
  text-align: center;
}

.pricing__plans {
  display: flex;
  justify-content: space-around;
}

.pricing__plan {
  display: flex;
  flex-direction: column;
  border: 1px solid #cbd5e0;
  border-radius: 6px;
  margin: 12px 24px;
  border-top: none;
  width: calc(100% / 3);
}

.pricing__header {
  display: flex;
  flex-direction: column;
  border: 1px solid #cbd5e0;
  border-radius: 2px;
  align-items: center;
  padding: 32px 64px;
  border-top: none;
}

.pricing__plan--title {
  margin-bottom: 16px;
}

.pricing__plan--price {
  margin-bottom: 16px;
}

.pricing__plan--sub-title {
  margin-bottom: 4px;
}

.pricing__features {
  display: flex;
  flex-direction: column;
  border: 1px solid #cbd5e0;
  border-radius: 2px;
  align-items: center;
  padding: 32px 64px;
}

.pricing__action {
  display: flex;
  flex-direction: column;
  border: 1px solid #cbd5e0;
  border-radius: 2px;
  padding: 32px 64px;
  border-bottom: none;
}

.border__small-biz {
  border-color: rgb(102 126 234);
}

.pricing__plan--title {
  color: #1a202c;
  font-size: 20px;
  font-weight: 700;
}

.pricing__plan--price {
  color: #1a202c;
  font-size: 48px;
  font-weight: 700;
}

.pricing__plan--sub-title {
  color: #a0aec0;
  font-size: 16px;
  font-weight: 700;
}

.pricing__features--header {
  color: #1a202c;
  font-size: 20px;
  font-weight: 700;
}

.pricing__features--info {
  color: #718096;
  font-size: 16px;
  font-weight: 500;
  margin: 20px 0 0;
}

.pricing__button--personal {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pricing__button--personal:hover {
  transform: translate(1px, -1px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.pricing__button--small-biz {
  background-color: white;
  color: #6415ff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pricing__button--small-biz:hover {
  transform: translate(1px, -1px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.pricing__button--enterprise {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pricing__button--enterprise:hover {
  transform: translate(1px, -1px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.plan__small-biz {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  border: none;
}

.white {
  color: white;
}

.plan__top-border--personal {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.plan__top-border--enterprise {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.plan__top-border--small-biz {
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

/* TESTIMONIALS */

#testimonials {
  margin-bottom: 168px;
}

.row__testimonials {
  display: flex;
  align-items: center;
}

.testimonials {
  display: flex;
  flex-direction: column;
  padding: 26px;
}

.testimonials__img--wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 26px;
}

.testimonials__para {
  color: #7c8ba1;
  font-size: 18px;
  max-width: 500px;
  line-height: 1.6;
  margin: 12px 0;
  font-weight: 500;
}

.testimonials__title {
  margin-top: 24px;
  font-weight: 900;
}

.customer-reviews {
  display: flex;
  flex-direction: column;
  margin: 26px 0;
}

.customer-review {
  display: flex;
  width: 100%;
  padding: 20px;
  transition: margin-left 0.5s ease-in-out;
  margin-left: 100%;
  overflow: hidden;
}

.customer-review.active {
  margin-left: 0;
}

.stars {
  color: gold;
  font-size: 24px;
}

.review-title {
  color: #243e63;
  font-size: 20px;
  margin: 10px 0;
  font-weight: 700;
}

.review-paragraph {
  color: #4a5568;
  font-size: 16px;
  margin: 10px 0;
}

.review-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #a0aec0;
  margin-right: 10px;
}

.user__info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 20px;
  color: #243e63;
  font-weight: 700;
  margin-bottom: 6px;
}

.user-title {
  font-size: 16px;
  color: #7c8ba1;
  font-weight: 500px;
}

.star-rating {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.star-rating i {
  color: gold;
}

.customer-review {
  display: none;
}

.customer-review.active {
  display: block;
}

.review-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.arrow {
  width: 32px;
  height: 32px;
  background-color: #f7fafc;
  border: 1px solid #a0aec0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 8px;
}

.left-arrow::before {
  content: "←";
}

.right-arrow::before {
  content: "→";
}

.divider {
  width: 1px;
  height: 16px;
  background-color: #a0aec0;
}

/* GET STARTED */

.get-started__wrapper {
  display: flex;
  background-color: rgb(100 21 255);
  justify-content: space-between;
  width: 100%;
  height: 256px;
  align-items: center;
  border-radius: 8px;
  padding: 0 112px;
  margin-bottom: 128px;
}

.get-started__text {
  color: white;
  font-size: 30px;
  font-weight: 700;
  max-width: 500px;
}

.get-started__button--contact {
  border: 1px solid white;
  padding: 18px 32px;
}

.get-started__button--contact:hover {
  background-color: white;
  color: #6415ff;
}

.get-started__button {
  background-color: rgb(245 101 101);
  padding: 18px 32px;
  margin-right: 24px;
}

.get-started__button:hover {
  background-color: #d93636;
}

/* FOOTER */

.footer__container {
  background-color: #6415ff;
  color: white;
}

.row__footer {
  display: flex;
  flex-direction: column;
}
.footer__links--list {
  display: flex;
  justify-content: space-between;
  padding: 72px 0;
}

.footer__category {
  font-size: 16px;
  font-weight: 700;
}

.link {
  font-size: 14px;
  text-decoration: none;
  color: white;
  position: relative;
  display: inline-block; /* Change the display property */
  margin-bottom: 16px;
}

.link::before {
  content: "";
  position: absolute;
  bottom: -2px; /* Adjust this value to control the space between the link and the underline */
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent; /* You can set a background color here if needed */
  border-bottom: 2px solid white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.links__list {
  margin-top: 24px;
}

.footer__info--wrapper {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  margin-bottom: 24px;
  align-items: center;
}

.footer__logo {
  color: white;
}

.footer__social--link {
  width: 24px;
  height: 24px;
  scale: 2;
  margin-right: 24px;
  color: white;
  transition: all 300ms ease;
}

.footer__social--link:hover {
  color: #919191;
}

/* MOBILE RESPONSIVE */

/*TABLETS & LAPTOPS*/

@media (max-width: 1028px) {
  .header__description {
    padding: 0 24px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 26px;
  }

  button {
    font-size: 18px;
  }

  .row {
    padding:56px;
  }

  .quality__img--wrapper {
    height: 100%;
  }

  .row__quality {
    align-items: center;
  }

  .row__steps {
    display: flex;
    align-items: center;
  }

  .nav__links {
    display: none;
  }

  .btn__menu {
    display: block;
  }
}

/* TABLETS */

@media (max-width: 768px) {
  .header__description {
    padding: 0 24px;
  }

  h1 {
    font-size: 30px;
  }

  button {
    font-size: 18px;
  }

  .nav__links {
    display: none;
  }

  .btn__menu {
    display: block;
  }

  .row {
    max-width: 600px;
  }

  .row__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__des {
    display: flex;
    width: 100%;
    flex: column;
    align-items: center;
    text-align: center;
  }
  .header__des--para {
    font-size: 16px;
  }

  .section__title {
    font-size: 26px;
  }

  .header__des--img {
    max-width: 400px;
    margin-bottom: 24px;
  }
  .features__item {
    width: 50%;
  }

  .quality__img--wrapper {
    height: 100%;
  }

  .row__quality {
    align-items: center;
  }

  .row__steps {
    display: flex;
    align-items: center;
  }

  .row__values {
    display: flex;
    align-items: center;
  }

  .values__list {
    flex-wrap: wrap;
  }

  .value__item {
    margin-bottom: 16px;
  }

  .pricing__plan {
    width: 50%;
    margin-bottom: 32px;
  }
  .pricing__plans {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .row__testimonials {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  .get-started__wrapper {
    flex-direction: column;
    padding: 56px;
    text-align: center;
  }

  .footer__social--list {
    display: flex;
  }

  .footer__social--link {
    font-size: 16px;
  }
}

/* SMALL PHONES, LARGE SMARTPHONES */

@media (max-width: 550px) {
  .header__description {
    padding: 0 24px;
  }

  h1 {
    font-size: 30px;
  }

  button {
    font-size: 18px;
  }

  .nav__links {
    display: none;
  }

  .btn__menu {
    display: block;
  }

  .row {
    max-width: 500px;
  }

  .row__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__des {
    display: flex;
    width: 100%;
    flex: column;
    align-items: center;
    text-align: center;
  }

  .header__img {
    margin: 0;
  }

  .header__des--para {
    font-size: 16px;
  }

  .header__des--form {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .header__des--form:hover,
  .header__des--form:focus-within {
    border: none;
  }

  .des__placeholder {
    text-align: left;
    margin-bottom: 8px;
    border: 2px solid rgb(226, 232, 240);
    border-radius: 50px;
    padding: 12px;
    font-weight: 500;
    transition: all 300ms ease;
    font-size: 14px;
    width: 100%;
  }

  .des__placeholder:hover {
    border: 2px solid #a0aec0;
  }

  .des__placeholder:active,
  .des__placeholder:focus-within {
    border: 2px solid #6415ff;
  }

  .btn {
    width: 100%;
  }

  .section__title {
    font-size: 24px;
  }

  .header__des--img {
    width: 100%;
    margin-bottom: 24px;
  }

  .header__img {
    width: 100%;
  }

  .row__features {
    margin-bottom: 32px;
    padding: 24px;
    text-align: center;
  }
  .features__item {
    width: 100%;
  }

  #quality {
    margin-bottom: 64px;
  }
  .row__quality {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }

  .quality__info {
    width: 100%;
    padding: 24px;
    text-align: center;
  }

  .quality__img--wrapper {
    width: 90%;
  }

  #steps {
    margin-bottom: 64px;
  }
  .row__steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .steps__img--wrapper {
    width: 90%;
    margin-bottom: 24px;
  }

  .step__item {
    display: flex;
    flex-direction: column;
  }


  .step__number {
    margin: 12px 0;
  }

  .container__values {
    padding: 24px;
  }

  .row__values {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    width: 100%;
  }

#values {
    margin-bottom: 64px;
}

.values__img--wrapper {
    width: 100%;
    margin-bottom: 24px;
}
  .values__list {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }

  .value__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    align-items: center;
  }

  .value__item--para {
    margin-right: 0;
  }

#pricing {
    margin-bottom: 64px;
}

.pricing_text--top {
    padding: 24px;
}

.pricing__title {
    text-align: center;
}

  .pricing__plan {
    width: 100%;
    margin-bottom: 32px;
  }
  .pricing__plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
  }

  .pricing__features {
    text-align: center;
  }

  #testimonials {
    margin-bottom: 64px;
  }
  .row__testimonials {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  #get-started {
    padding: 24px;
  }

  .get-started__wrapper {
    flex-direction: column;
    padding: 32px;
    text-align: center;
    height: 100%;
  }

.get-started__text {
    margin-bottom: 24px;
}

.get-started__button {
    margin-bottom: 24px;
}

.row__footer {
    padding: 0 24px;
}

.footer__links--list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }

  .footer__links-category {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50%;
    margin-bottom: 24px;
  }


.footer__info--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

  .footer__social--list {
    display: flex;

  }

  .footer__social--link {
    font-size: 16px;
  }

  .nav__logo--footer {
    padding: 24px;
  }
  
  .footer__social--list {
    padding: 32px;
  }
}

/* SMALL PHONES */

@media (max-width: 350px) {

  .header__description {
    padding: 0 24px;
  }

  h1 {
    font-size: 30px;
  }

  button {
    font-size: 18px;
  }

  .nav__links {
    display: none;
  }

  .btn__menu {
    display: block;
  }

  .row {
    max-width: 500px;
    padding: 24px;
  }

  .row__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__container {
   margin: 24px 0;
  }

  .h2.logo__heading {
    font-size: 18px;
  }

  .logo__img {
    width: 25px;
    height: 25px;
  }

  .fas fa-bars {
    width: 25px;
    height: 25px;
    margin-left: 8px;
  }

  .header__des {
    display: flex;
    width: 100%;
    flex: column;
    align-items: center;
    text-align: center;
  }

  .header__img {
    margin: 0;
  }

  .header__des--para {
    font-size: 16px;
  }

  .header__des--form {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .header__des--form:hover,
  .header__des--form:focus-within {
    border: none;
  }

  .des__placeholder {
    text-align: left;
    margin-bottom: 8px;
    border: 2px solid rgb(226, 232, 240);
    border-radius: 50px;
    padding: 12px;
    font-weight: 500;
    transition: all 300ms ease;
    font-size: 14px;
    width: 100%;
  }

  .des__placeholder:hover {
    border: 2px solid #a0aec0;
  }

  .des__placeholder:active,
  .des__placeholder:focus-within {
    border: 2px solid #6415ff;
  }

  .btn {
    width: 100%;
  }

  .section__title {
    font-size: 24px;
  }

  .header__des--img {
    width: 100%;
    margin-bottom: 24px;
  }

  .header__img {
    width: 100%;
  }

  .row__features {
    margin-bottom: 32px;
    padding: 24px;
    text-align: center;
  }
  .features__item {
    width: 100%;
  }

  #quality {
    margin-bottom: 64px;
  }
  .row__quality {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }

  .quality__info {
    width: 100%;
    padding: 24px;
    text-align: center;
  }

  .quality__img--wrapper {
    width: 90%;
  }

  #steps {
    margin-bottom: 64px;
  }
  .row__steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .steps__img--wrapper {
    width: 90%;
    margin-bottom: 24px;
  }

  .step__item {
    display: flex;
    flex-direction: column;
  }


  .step__number {
    margin: 12px 0;
  }

  .container__values {
    padding: 24px;
  }

  .row__values {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    width: 100%;
  }

#values {
    margin-bottom: 64px;
}

.values__img--wrapper {
    width: 100%;
    margin-bottom: 24px;
}
  .values__list {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }

  .value__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    align-items: center;
  }

  .value__item--para {
    margin-right: 0;
  }

#pricing {
    margin-bottom: 64px;
}

.pricing_text--top {
    padding: 16px;
}

.pricing__title {
    text-align: center;
}

  .pricing__plan {
    width: 100%;
    margin-bottom: 32px;
  }
  .pricing__plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
  }

  .pricing__features {
    text-align: center;
  }

  .pricing__action {
    padding: 16px;
  }

  .btn.pricing__button--personal {
    margin: 0;
  }

  .btn.pricing__button--small-biz {
    margin: 0;
  }

  .btn.pricing__button--enterprise {
    margin: 0;
  }

  #testimonials {
    margin-bottom: 64px;
  }
  .row__testimonials {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  #get-started {
    padding: 24px;
  }

  .get-started__wrapper {
    flex-direction: column;
    padding: 32px;
    text-align: center;
    height: 100%;
  }

.get-started__text {
    margin-bottom: 24px;
}

.get-started__button {
    margin-bottom: 24px;
}

.row__footer {
    padding: 0 24px;
}

.footer__links--list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }

  .footer__links-category {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50%;
    margin-bottom: 24px;
  }


.footer__info--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

  .footer__social--list {
    display: flex;

  }

  .footer__social--link {
    font-size: 16px;
  }

  .nav__logo--footer {
    padding: 24px;
  }
  
  .footer__social--list {
    padding: 32px;
  }
}
